@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F7F9;
  color: #1F2933;
}

body {
  margin: 0;
  padding: 0;
}

.transition-soft {
  @apply transition-all duration-300 ease-in-out;
}
